#s-0001b322-5a9a-4717-9e54-cc92ec34d468 #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0001b322-5a9a-4717-9e54-cc92ec34d468 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0001b322-5a9a-4717-9e54-cc92ec34d468 #s-id_c {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0001b322-5a9a-4717-9e54-cc92ec34d468 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0001b322-5a9a-4717-9e54-cc92ec34d468 #s-name_c {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0001b322-5a9a-4717-9e54-cc92ec34d468 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0001b322-5a9a-4717-9e54-cc92ec34d468 #s-phone_c {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0001b322-5a9a-4717-9e54-cc92ec34d468 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0001b322-5a9a-4717-9e54-cc92ec34d468 #s-password_c {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0001b322-5a9a-4717-9e54-cc92ec34d468 #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0001b322-5a9a-4717-9e54-cc92ec34d468 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}