#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-body_container {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-report_link {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-report_link_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}