#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 25.0pt;
  font-family: 'Rockwell',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_3 > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Rockwell',Arial;
  font-size: 25.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Rockwell',Arial;
  font-size: 25.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-body_container > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #92A9CA;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-body_container {
  position: absolute;
  width: 375px;
  height: 1306px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-body_container > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-body_container > .paddingLayer {
  height: 1306px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-body_container .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-body_container span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-body_container span#rtr-s-body_container_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Paragraph_1 {
  position: absolute;
  width: 352px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Rockwell',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Paragraph_1 > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Rockwell',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Rockwell',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-WalkieDoggie_header {
  position: absolute;
  width: 168px;
  height: 27px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Rockwell',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_2 > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Rockwell',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Rockwell',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Rockwell',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_1 > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: 'Rockwell',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: 'Rockwell',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Paragraph_2 {
  position: absolute;
  width: 349px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Rockwell',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Paragraph_2 > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Paragraph_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Rockwell',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Rockwell',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Rockwell',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_4 > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: 'Rockwell',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: 'Rockwell',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Rockwell',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_5 > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: 'Rockwell',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: 'Rockwell',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Image_1 {
  position: absolute;
  width: 115px;
  height: 145px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Image_1 > img, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Image_1 > svg {
  height: 143px;
  width: 113px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Image_2 {
  position: absolute;
  width: 115px;
  height: 145px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Image_2 > img, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Image_2 > svg {
  height: 143px;
  width: 113px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_6 > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_7 > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Image_3 {
  position: absolute;
  width: 115px;
  height: 147px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Image_3 > img, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Image_3 > svg {
  height: 145px;
  width: 113px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Image_4 {
  position: absolute;
  width: 115px;
  height: 147px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Image_4 > img, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Image_4 > svg {
  height: 145px;
  width: 113px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_8 > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_9 > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Rockwell',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_10 > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: 'Rockwell',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: 'Rockwell',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-report_link > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-report_link {
  position: absolute;
  width: 344px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Rockwell',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-report_link > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-report_link > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-report_link .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-report_link span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Rockwell',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-report_link span#rtr-s-report_link_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Rockwell',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_11 > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-report_link_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-report_link_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Rockwell',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-report_link_1 > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-report_link_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-report_link_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-report_link_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Rockwell',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-report_link_1 span#rtr-s-report_link_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Rockwell',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_12 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_12 > .clipping, #s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_12 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 #s-Text_12 span#rtr-s-Text_12_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6a5e2343-091a-4f62-8698-eb9a8e5ff4b5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}