#s-6da87801-0558-4942-97c7-966e11c706a9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6da87801-0558-4942-97c7-966e11c706a9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6da87801-0558-4942-97c7-966e11c706a9 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6da87801-0558-4942-97c7-966e11c706a9 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6da87801-0558-4942-97c7-966e11c706a9 #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6da87801-0558-4942-97c7-966e11c706a9 #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6da87801-0558-4942-97c7-966e11c706a9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}