#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-addPet {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-my_dogs .s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-my_dogs .s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-id_name_phone .s-Name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-id_name_phone .s-phone {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-id_name_phone .s-id {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-id_name_phone .s-Name_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Cancel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-ok {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Cancel_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-ok_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}