#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Row_cell_1 {
  position: relative;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Row_cell_3 {
  position: relative;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Row_cell_5 {
  position: relative;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Row_cell_7 {
  position: relative;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-addPet {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-my_dogs .s-Row_cell_2 {
  position: relative;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-my_dogs .s-Row_cell_4 {
  position: relative;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-my_dogs .s-Row_cell_6 {
  position: relative;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-my_dogs .s-Row_cell_8 {
  position: relative;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-my_dogs .s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-my_dogs .s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Ellipse_1 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-id_name_phone .s-Name {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-id_name_phone .s-phone {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-id_name_phone .s-id {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-id_name_phone .s-Name_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 36px;
  width: 147px;
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-AddPet_dialog {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Cancel {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-ok {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Delete_dialog {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Cancel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-ok_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a23aafad-656a-44dd-bcfc-7b585a463b8f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}