#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-Background_box {
  -ms-transform: rotate(0.0deg);
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-User_name_label {
  -ms-transform: rotate(0.0deg);
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-password_label {
  -ms-transform: rotate(0.0deg);
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-User_name_label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-Title_log_in {
  -ms-transform: rotate(0.0deg);
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-button {
  -ms-transform: rotate(0.0deg);
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}