#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Stop_button_2 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Stop_icon_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Pause_button_2 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Pause_icon_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-clock_img_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-distance_img_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Stop_button_3 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Stop_icon_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Pause_button_3 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Start_icon {
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-clock_img {
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-distance_img {
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-walkbuddy_button_4 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-walk_buddy_icon {
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Title {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}